on:
  workflow_dispatch:
jobs:
  dotnet-maui-build-test:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.x

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '26.0'

      - name: Install dotnet workloads
        run: |
          dotnet workload install maui --ignore-failed-sources

      - name: Restore dependencies
        run: dotnet restore ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj

      - name: Install xharness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json --version "10.0.0-*"

      - name: Ensure simulator
        run: xharness apple simulators install ios-simulator_26.0

      - name: Build ios-simulator
        run: dotnet build ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj -c Debug -f net10.0-ios -r iossimulator-arm64 -p:EmbedAssembliesIntoAppBundle=true -p:CodesignKey="" -p:CodesignProvision=""
      
      - name: Test with xharness
        run: xharness apple test --app=./src/MauiAppXharness/MauiAppXharness/bin/Debug/net10.0-ios/iossimulator-arm64/MauiAppXHarness.app --output-directory=./test-results/ios --target=ios-simulator-64 --device="iPhone 17" --timeout "00:05:00"

      - name: Upload Maui iOS xharness test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: xharness-ios-test-results
          path: |
            ./test-results/*
  