on:
  workflow_dispatch:
    
  push: 
    branches: [ main ]

jobs:
  
  dotnet10-maui-build-rc2-macos15:
    name: Build Maui 10RC2 App from xcode 26 on macos 15
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.100-rc.2.25502.107

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '26.0'

      - name: Install dotnet workloads 
        run: |
          dotnet workload install maui --ignore-failed-sources --version 10.0.100-rc.2.25513.4

      - name: Restore dependencies
        run: dotnet restore ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj

      - name: Build ios-simulator
        run: dotnet build ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj -c Debug -f net10.0-ios -r iossimulator-arm64 -p:EmbedAssembliesIntoAppBundle=true -p:CodesignKey="" -p:CodesignProvision=""

      - name: Upload ios app
        uses: actions/upload-artifact@v4
        with:
          name: maui-build-artifacts-rc2
          path: |
            ./src/MauiAppXharness/MauiAppXharness/bin/Debug/net10.0-ios/iossimulator-arm64/MauiAppXharness.app


  dotnet10-rc2-maui-preview-xcode16-4-macos15:
    name: Test Maui 10RC2 App from xcode 16.4 (working) on macos 15
    runs-on: macos-15
    needs: dotnet10-maui-build-rc2-macos15

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.100-rc.2.25502.107

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '16.4'

      - name: Download Artifacts
        id: download-artifact
        uses: actions/download-artifact@v4
        with:
          name: maui-build-artifacts-rc2
          path: MauiAppXharness.app

      - name: Install xharness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json --version "10.0.0-*"

      - name: Test with xharness
        run: xharness apple test --app=./MauiAppXHarness.app --output-directory=./test-results/ios --target=ios-simulator-64 --device="iPhone 16" --timeout "00:15:00"

      - name: Upload Maui iOS xharness test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: xharness-ios-test-results-rc2-macos16
          path: |
            ./test-results/*  
            
  
  dotnet10-rc2-maui-preview-sim16-xcode26-1-macos26:
    name: Test Maui 10RC2 App from xcode 26.1 on macos 26
    runs-on: macos-26
    needs: dotnet10-maui-build-rc2-macos15
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.X

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '26.1'

      - name: Download Artifacts
        id: download-artifact
        uses: actions/download-artifact@v4
        with:
          name: maui-build-artifacts-rc2
          path: MauiAppXharness.app

      - name: Install xharness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json --version "10.0.0-*"

      - name: Test with xharness
        run: xharness apple test --app=./MauiAppXHarness.app --output-directory=./test-results/ios --target=ios-simulator-64 --device="iPhone 16" --timeout "00:15:00"

      - name: Upload Maui iOS xharness test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: xharness-ios-test-results-rc2-macos26
          path: |
            ./test-results/*

  dotnet10-maui-build:
    runs-on: macos-26
    name: Build Maui 10 App from xcode 26.1 on macos 26

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.x

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '26.1'

      - name: Install dotnet workloads
        run: |
          dotnet workload install maui --ignore-failed-sources

      - name: Restore dependencies
        run: dotnet restore ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj

      - name: Build ios-simulator
        run: dotnet build ./src/MauiAppXharness/MauiAppXharness/MauiAppXharness.csproj -c Debug -f net10.0-ios -r iossimulator-arm64 -p:EmbedAssembliesIntoAppBundle=true -p:CodesignKey="" -p:CodesignProvision=""

      - name: Upload ios app
        uses: actions/upload-artifact@v4
        with:
          name: maui-build-artifacts
          path: |
            ./src/MauiAppXharness/MauiAppXharness/bin/Debug/net10.0-ios/iossimulator-arm64/MauiAppXharness.app
  
  
  dotnet10-maui-xcode26-1-macos26:
    name: Test Maui 10 App from xcode 26.1 from macos 26
    runs-on: macos-26
    needs: dotnet10-maui-build
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.X

      - uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: '26.1'

      - name: Download Artifacts
        id: download-artifact
        uses: actions/download-artifact@v4
        with:
          name: maui-build-artifacts
          path: MauiAppXharness.app

      - name: Install xharness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json --version "10.0.0-*"

      - name: Test with xharness
        run: xharness apple test --app=./MauiAppXHarness.app --output-directory=./test-results/ios --target=ios-simulator-64 --device="iPhone 16" --timeout "00:15:00"

      - name: Upload Maui iOS xharness test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: xharness-ios-test-results-rc2-macos26
          path: |
            ./test-results/*
